
img{
    height:600px;
   
}
.title{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    bottom: 80px;
}

.chef-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 88px;
    margin-bottom: 100px;
    margin-top: 50px;
}




@media all and (max-width: 576px) {
    img {
    height:fit-content;
    } 
    h3{
        font-size: 5px;
        font-weight: normal;
    }
    .chef-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 35px;
        margin-bottom: 100px;
        margin-top: 50px;
    }
    
 }