
img{
    height:600px;
   
}
.title{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    bottom: 80px;
}



@media all and (max-width: 576px) {
    img {
    height:fit-content;
    } 
    h3{
        font-size: 5px;
        font-weight: normal;
    }
    
 }